@charset "utf-8";

//変数宣言

/* base */
body {
    font-family:'游ゴシック体', 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
.text-muted {
    color: #777777;
}
.text-primary {
    color: #0068b7;
}
p {
    font-size: 14px;
    line-height: 1.75;
}
p.large {
    font-size: 16px;
    margin-top: 50px;
}
a {
    color: #0068b7;
    &:hover {
        color: darken(#0068b7,15%);
    }
}

h1 {
    margin:0px;
    color: #9d9d9d;
    font-size: 18px;
    line-height: 20px;
}
h1,
h2,
h3{
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
.bg-light-gray {
    background-color: #eeeeee;
}
.bg-darkest-gray {
    background-color: #222222;
}
.col-md-4 {
    @media (max-width: 768px) {
        margin-bottom: 50px;
    }
}
.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}

/* section */
section {
    padding: 80px 0;
    .price {
        font-size: 20px;
        font-weight: bold;
        display: block;
        margin-top: 5px;
    }
    .section-subheading {
        font-size: 16px;
        margin-bottom: 75px;
    }
    @media (min-width: 768px) {
        padding: 100px 0;
    }
}

/* hero */
.business-header {
    height: 200px;
    padding-top: 50px;
    @media (min-width: 768px) {
        height: 400px;
    }
}

/* team-member */
 .team-member {
    .social-buttons {
        margin-bottom: 0;
        li a {
            color: #222222;
            transition: all 0.3s;
            &:hover {
              color: #0068b7;
            }
        }
    }
}

/* contact */
#contact {
    background: #222222 url('../images/map-image.png') center no-repeat;
    .section-heading,
    .section-subheading {
        color: white;
    }
    .form-group {
        margin-bottom: 25px;
        input,
        textarea {
            padding: 20px;
        }
        input.form-control {
            height: auto;
        }
        textarea.form-control {
            height: 236px;
        }
    }
}
.btn-xl {
    color: white;
    background-color: #0068b7;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 15px 30px;
    &:hover{
        color: white;
        background-color: darken(#0068b7,15%);
    }
}
/* map */
.map {
    height: 500px;
    padding:0;
    @media(max-width:768px){
        height: 300px;
    }
    iframe {
        pointer-events: none;
    }
}

/* Footer */
footer {
    padding: 100px 0;
    hr.small {
        width: 100%;
    }
}